@import "tailwindcss";

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e2e8f0;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #cbd5e1;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0 transparent;
}

.hide-controls::-webkit-media-controls {
  opacity: 0;
  pointer-events: none;
}
 
video.hide-controls:hover::-webkit-media-controls {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.2s ease;
}